DISCOSLAB_WEBAPI_ADMIN_EMAILS="{{ discoslab_webapi_admin_emails }}"
DISCOSLAB_WEBAPI_ENVIRONMENT="{{ discoslab_webapi_environment }}"
DISCOSLAB_WEBAPI_HTTP_ENABLE_SWAGGER="{{ discoslab_webapi_http_enable_swagger }}"
DISCOSLAB_WEBAPI_HTTP_OPENAPI_BASE_PATH="{{ discoslab_webapi_http_openapi_base_path }}"
DISCOSLAB_WEBAPI_HTTP_PORT="{{ discoslab_webapi_http_port }}"
DISCOSLAB_WEBAPI_LOGGING_FORMAT="{{ discoslab_webapi_logging_format }}"
DISCOSLAB_WEBAPI_LOGGING_MIN_SEVERITY="{{ discoslab_webapi_logging_min_severity }}"
DISCOSLAB_WEBAPI_LOGGING_USE_COLOR="{{ discoslab_webapi_logging_use_color }}"
DISCOSLAB_WEBAPI_SMTP_FROM_EMAIL_ADDRESS="{{ discoslab_webapi_smtp_from_email_address }}"
DISCOSLAB_WEBAPI_SMTP_FROM_EMAIL_NAME="{{ discoslab_webapi_smtp_from_email_name }}"
DISCOSLAB_WEBAPI_SMTP_HOST="{{ discoslab_webapi_smtp_host }}"
DISCOSLAB_WEBAPI_SMTP_PASSWORD="{{ discoslab_webapi_smtp_password }}"
DISCOSLAB_WEBAPI_SMTP_PORT="{{ discoslab_webapi_smtp_port }}"
DISCOSLAB_WEBAPI_SMTP_QUEUE_SIZE="{{ discoslab_webapi_smtp_queue_size }}"
DISCOSLAB_WEBAPI_SMTP_SECURITY="{{ discoslab_webapi_smtp_security }}"
DISCOSLAB_WEBAPI_SMTP_USER_NAME="{{ discoslab_webapi_smtp_user_name }}"
DISCOSLAB_WEBAPI_VERSION="{{ discoslab_webapi_version }}"
