.button {
  --button-border-width: 0.15rem;
  --button-padding: var(--spacing-2);

  color: var(--color-font);
  font-size: var(--font-size-4);
  font-weight: bold;

  background-color: var(--color-button);
  padding: var(--spacing-3);

  border: none;

  border-color: var(--color-input-border);
  border-width: var(--button-border-width);
  border-style: solid;
  border-radius: 0.375rem;

  cursor: pointer;
}

.button:hover {
  border-color: var(--color-input-border-focussed);
}

.button:active {
  --button-focussed-border-width: calc(var(--button-border-width) * 1.675);

  border-color: var(--color-input-border-focussed);
  border-width: var(--button-focussed-border-width);
  padding: calc(
    var(--spacing-3) -
      (var(--button-focussed-border-width) - var(--button-border-width))
  );
}

.button--dangerous {
  background-color: var(--color-danger);
}
