.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  font-weight: bold;
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-1);

  display: flex;
  justify-content: space-between;
}

.field__optional {
  font-weight: normal;
  font-size: var(--font-size-3);
  margin-left: var(--spacing-1);
}

.field__help {
  margin: 0;
  margin-top: calc(var(--spacing-1) * -1);
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-2);
}

.field__error {
  margin: 0;
  margin-top: var(--spacing-1);
  font-size: var(--font-size-3);
  height: var(--spacing-3);
  color: var(--color-font-danger);
}

.field__input {
  --field-input-border-width: 0.15rem;
  --field-input-padding: var(--spacing-2);

  font-size: var(--font-size-3);
  padding: var(--field-input-padding);
  background-color: var(--color-input-background);
  color: var(--color-font);

  border-color: var(--color-input-border);
  border-width: var(--field-input-border-width);
  border-style: solid;
  border-radius: 0.375rem;
  outline: none;
}

.field__input:focus {
  --field-input-focussed-border-width: calc(
    var(--field-input-border-width) * 1.675
  );

  border-color: var(--color-input-border-focussed);
  border-width: var(--field-input-focussed-border-width);
  padding: calc(
    var(--spacing-2) -
      (
        var(--field-input-focussed-border-width) -
          var(--field-input-border-width)
      )
  );
}

.field__input--textarea {
  min-height: var(--spacing-9);
}

.field--invalid .field__input {
  border-color: var(--color-danger);
}

.field__input:hover {
  border-color: var(--color-input-border-focussed);
}
