.loading-ellipsis {
  display: inline-flex;
}

.loading-ellipsis__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-font);

  margin-right: 0.125rem;

  animation-timing-function: cubic-bezier(0, 1, 1, 0);

  position: relative;
}

.loading-ellipsis__dot:last-child {
  margin-right: 0;
}

.loading-ellipsis__dot:nth-child(1) {
  animation: loading-ellipsis1 0.8s infinite;
}

.loading-ellipsis__dot:nth-child(2),
.loading-ellipsis__dot:nth-child(3) {
  animation: loading-ellipsis2 0.8s infinite;
}

.loading-ellipsis__dot:nth-child(4) {
  animation: loading-ellipsis3 0.8s infinite;
}

@keyframes loading-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-ellipsis2 {
  0% {
    transform: translate(-0.675rem, 0);
  }
  100% {
    transform: translate(0.675rem, 0);
  }
}
