.nav {
  display: flex;
  list-style: none;

  padding: 0;
  margin: 0;

  flex-direction: row;
}

.nav__item {
  margin-right: var(--spacing-2);
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: var(--font-size-4);
  font-weight: normal;
}

.nav__link--active {
  font-weight: bold;
}

.nav__link:hover {
  color: var(--color-font-alt);
}
