.heading {
  font-weight: bold;
}

.heading--left {
  text-align: left;
}

.heading--center {
  text-align: center;
}

.heading__main {
  font-size: inherit;
  margin: 0;
}

.heading--high {
  font-size: var(--font-size-6);
  margin-bottom: var(--spacing-3);
}

.heading--normal {
  font-size: var(--font-size-5);
  margin-bottom: var(--spacing-2);
}

.heading--low {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-1);
}

.heading__sub {
  margin: 0;
  font-weight: inherit;
}

.heading--high .heading__sub {
  font-size: var(--font-size-5);
}

.heading--normal .heading__sub {
  font-size: var(--font-size-4);
}

.heading--low .heading__sub {
  font-size: var(--font-size-3);
}
