.root {
  font-size: var(--font-size-3);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background);

  --root-header-size: var(--spacing-7);
  --root-footer-size: var(--spacing-6);
}

.root__header,
.root__main,
.root__footer {
  box-sizing: border-box;
  padding: 0 var(--spacing-3);
  width: 100%;
  display: flex;
}

.root__header {
  height: var(--root-header-size);
  background-color: var(--color-background-alt);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0rem 0rem var(--spacing-3) var(--spacing-1) rgba(0, 0, 0, 0.25);

  align-items: center;
}

.root__main {
  min-height: calc(100vh - var(--root-header-size) - var(--root-footer-size));
  flex-direction: column;
  padding: var(--spacing-5) var(--spacing-3);
  max-width: var(--spacing-13);
}

.root__footer {
  height: var(--root-footer-size);
}
