server {
  listen 80;
  listen [::]:80;

  server_name {{ domain }} www.{{ domain }};

  return 301 https://{{ domain }}$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ domain }} www.{{ domain }};

  ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  if ($host = www.{{ domain }}) {
    return 301 https://{{ domain }}$request_uri;
  }

  root /usr/share/nginx/html/root;

  location /api/ {
    proxy_pass http://127.0.0.1:{{ discoslab_webapi_http_port }}/;
  }

  location / {
    index index.html index.htm;

    proxy_intercept_errors on;
    error_page 404 = /index.html;
  }
}
